<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <add key="mapLayersConfig" value=".\MapLayers.xml" />
    <add key="ColourScales" value=".\ColourScales.xml" />
    <add key="StartExtent" value="-53.02,27.52,-18.88,56.58"/>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="CrossSectionSlice" value="-34.98, 49.103, -29.644, 47.828" />
  </appSettings>
</configuration>